<div class="container mt-3 col-sm-6 col-lg-3">
    <h1>Details of "BAD EYEZ"</h1>
    <br>
  <table class="table">
  <tbody>
    <tr>
      <th scope="row">Song title</th>
      <td>BAD EYEZ</td>
    </tr>
    <tr>
      <th scope="row">Artist</th>
      <td>Nimo</td>
    </tr>
    <tr>
      <th scope="row">Min.</th>
      <td>3:57</td>
    </tr>
    <tr>
      <th scope="row">Feature</th>
      <td>Luciano</td>
    </tr>
    <tr>
      <th scope="row">Release date</th>
      <td>19.02.2021</td>
    </tr>
  </tbody>

  </table>
</div>